!!! 5
%html{:lang => 'en'}
  %head
    %title
    %meta{:charset => "UTF-8"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "keywords", :content => ""}
    %link{:rel => 'stylesheet', :href => 'stylesheets/app.css'}
    %script{:src => 'javascripts/jquery.1.8.2.min.js'}
    %script{:src => 'javascripts/jquery.easing.1.3.js'}
    %script{:src => 'javascripts/html5shiv.js'}    
    %script{:src => 'javascripts/apps.js'}
    /[if (gte IE 6)&(lte IE 8)]
      <script type="text/javascript" src="javascripts/jquery.pseudo.js"></script>
      <script type="text/javascript" src="javascripts/selectivizr-min.js"></script>
      <script type="text/javascript" src="javascripts/placeholders.min.js"></script>
  %body
