!!! 5
%html
  %head
    %title Mr. Incredible Sound Pad
    %script{:src=>'javascripts/app.js', :type => "text/javascript"}
    %link{:href=>'stylesheets/app.css', :rel=>"stylesheet", :type=>"text/css"} 
  %body

